<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mindrealm.story.mapper.WarmReplyTemplateMapper">

    <resultMap id="BaseResultMap" type="com.mindrealm.story.model.entity.WarmReplyTemplate">
            <id property="id" column="id" />
            <result property="category" column="category" />
            <result property="content" column="content" />
            <result property="emotionType" column="emotion_type" />
            <result property="useCount" column="use_count" />
            <result property="isActive" column="is_active" />
            <result property="createdAt" column="created_at" />
    </resultMap>

    <sql id="Base_Column_List">
        id,category,content,emotion_type,use_count,is_active,
        created_at
    </sql>
</mapper>
